:root {
  --bg-ppal: #f5f5f5;
  --bg-cards: #ffffff;
  --texto-verde: #056152;
  --bg-verde: #ebfaf7;
  --texto-purpura: #981b98;
  --bg-purpura: #fbe9fb;
  --color-primario: #441b98;
  --color-primario-hover: #6e30e8
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--bg-ppal) !important;
  position: relative;
}

.contenedor-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primario);
  min-height: 80px;
  .box-menu-mobile {
    display: none;
  }
  .logo-tienda {
    color: var(--bg-cards);
    a {
      text-decoration: none;
      color: var(--bg-cards);
      &:hover {
        transform: scale(5);
      }
    }
  }
  .contenedor-buscador {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-cards);
    padding: 0 20px;
    margin: 0 20px;
    border-radius: 8px;
    min-height: 46px;
    input {
      outline: none;
      border: none;
      width: 100%;
    }
    ion-icon {
      padding-left: 10px;
      border-left: 2px solid #ededed;
    }
  }
  .contenedor-icono-carrito {
    position: relative;
    .box-icono {
      ion-icon {
        color: var(--bg-cards);
      }
    }
    .box-contador-carrito {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #b814b8;;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      bottom: 0px;
      right: 0px;
      /* top: 17px; */
      span {
        font-size: 0.700rem;
        font-weight: 700;
        color: var(--bg-cards);
    }
    }    
  }
}

.contenedor-burger-menu {
  display: none;
}

.contenedor-categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 30px;
  background: white;
  .btn-category {
    border: none;
    background: transparent;
    color: var(--color-primario);
    font-weight: 600;
    &:hover {
      border-bottom: 4px solid #0ac2a3;
      transition: all 0.1s ease-in-out;
    }
  }
}
.contenedor-icono-carrito {
  width: 50px;
  height: auto;
  ion-icon {
    width: 50px;
    height: 30px;
  }
}

.contenedor-carrito {
  width: 350px;
  height: 93%;
  background: var(--bg-cards);
  border-radius: 4px;
  padding-bottom: 20px;
  // padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  .cotenedor-resumen {
    display: flex;
    align-items: center;
    background: #f5f5f5;
  }
  .info-carro-vacio {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .box-resumen {
    width: 100%;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    span {
      color: var(--color-primario);
      font-weight: 550;
      font-size: 1.148rem;
    }
  }
  .boton-cerrar {
    font-size: 2.0em;
    color: var(--texto-purpura);
    padding-right: 20px;
  }
  .contenedor-items-carrito {
    border-bottom: 1px solid #ededed;
    margin: 20px;
    span {
      color: var(--color-primario);
      font-weight: 600;
    }
    .contenedor-nombre {
      display: flex;
    }
    .box-carrito {
      display: flex;
      .imagen-producto-carrito,.precio-producto-carrito,.unidades-producto-carrito,.subtotal-producto-carrito {
        padding: 0 10px;
      }
    }
    .imagen-producto-carrito {
      width: 120px;
      img {
        width: 100%;
      }
    }
    .contenedor-info {
      display: flex;
      line-height: 1.2;
      padding: 0 15px;
      .precio-producto-carrito {
        width: 80px;
      }
      .unidades-producto-carrito {
        display: flex;
        justify-content: center;
        font-size: 0.871rem;
      }
      .precio-producto-carrito,
    .subtotal-producto-carrito,
    .nombre-producto-carrito,
    .unidades-producto-carrito {
      font-size: 0.871rem;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      color: #666;
    }
    }
    .nombre-producto-carrito {
      margin-bottom: 10px;
      font-weight: 600;
    }
  }
  .contenedor-total-compra {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    bottom: 12px;
    right: 30px;
    padding-right: 16px;
    color: var(--color-primario);
    font-weight: bold;
  }
  button {
    margin-left: 20px;
    border: none;
    background: var(--color-primario);
    color: var(--bg-cards);
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background: var(--color-primario-hover);
      transition: all 0.2 ease-in-out;
    }
  }
}

.ocultarCarrito {
  display: none;
}

.contenedor-banner {
  img {
    width: 100%;
  }
}

.contenedor-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
  .card-productos {
    max-width: 250px;
    max-height: 395px;
    min-width: 220px;
    position: relative;
    // border: 2px solid #ededed;
    padding: 5px;
    border-radius: 5px;
    background: var(--bg-cards);
    .img-producto {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 100%;
      width: 204px;
      height: 204px;
      object-fit: contain;
    }
  }
  .disponibilidad-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 190px;
    right: 8px;
    font-size: 0.661rem;
    .tag-tipo-envio {
      background: var(--bg-verde);
      border-radius: 4px;
      margin-bottom: 5px;
      span {
        font-weight: 700;
        padding: 2px 4px;
        color: var(--texto-verde);
        text-transform: uppercase;
      }
    }
    .tag-disponibilidad {
      background: var(--bg-purpura);
      border-radius: 4px;
      span {
        font-weight: 700;
        padding: 2px 4px;
        color: var(--texto-purpura);
      }
    }
  }
  .fabricante-producto {
    margin-top: 20px;
    span {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .fabricante-producto,
  .titulo-producto,
  .categoria-producto {
    span,
    p {
      font-size: 0.871rem;
    }
  }
  .precio-producto {
    p {
      font-size: 1.148rem;
      color: var(--color-primario);
      font-weight: 550;
      letter-spacing: 0;
      line-height: 125%;
      margin-bottom: 2px;
    }
  }
  .btn-agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    span {
      color: var(--color-primario);
      border: 2px solid var(--color-primario);
      padding: 4px 14px;
      border-radius: 4px;
      transition: all 0.2s;
      font-weight: 500;
      &:hover {
        background: var(--color-primario);
        color: var(--bg-purpura);
        cursor: pointer;
      }
    }
  }
}

.footer {
  background: var(--color-primario);
  .contenedor-footer {
    display: flex;
    .footer-info{
      width: 100%;
      color: var(--bg-cards);
    }
    a {
      text-decoration: none;
      color: var(--bg-cards);
      cursor: pointer;
    }
    li {
      list-style: none;
    }
    ion-icon {
      color: var(--bg-cards);
    }
  }
  .redes-info {
    display: flex;
    justify-content: center;
  }
  .box-footer-redes {
    display: flex;
    gap: 20px;
    ion-icon {
      font-size: 2rem;
      color: var(--bg-cards);
      &:hover {
        color: var(--bg-purpura);
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}


@media (300px <= width <= 481px) {
  .contenedor-menu {
    flex-direction: column;
    .box-menu-mobile {
      display: flex;
      align-items: center;
      padding: 5px;
      ion-icon {
        font-size: 3em;
        color: var(--bg-cards);
      }
      .logo-tienda {
        margin-left: 25px;
      }
    }
    .box-left {
      display: flex;
      width: 100%;
      // justify-content: space-around;
      align-items: center;
    }
    .contenedor-buscador {
      width: 90%;
      margin-bottom: 20px;
    }
    .contenedor-icono-carrito {
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }
  .logo-tienda {
    margin-left: 25px;
  }
  // .ocultarMenuBurger {
  //   display: none;
  // }
  .contenedor-burger-menu {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-cards);
    .box-burger-menu {
      width: 100%;
      .box-header-burger-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        background: var(--color-primario);
        h4 {
          color: var(--bg-cards);
        }
        ion-icon {
          color: var(--bg-cards);
          font-size: 2em;
        }
      }
      .box-categorias {
        width: 80%;
        margin-top: 30px;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 45px;
        }
        li {
          list-style: none;
          font-size: 1.4em;
          margin-bottom: 10px;
          &:hover {
            border-bottom: 2px solid #0ac2a3;
          }
        }
        
      }
    }
  }
  .contenedor-categorias {
    display: none;
  }
  .contenedor-carrito {
    width: 100%;
    height: 100vh;
  }
}

@media (482px <= width <= 768px) {
  .contenedor-categorias {
    gap: 20px;
  }
}